*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: red;
    height: 100%;
    background-image: url('./add_new.jpg');
    background-repeat: no-repeat;
}
